<html ng-app="TestApp">
<head>

<script src="/js/angular.min.js" type="application/javascript"></script>
<script src="/js/app.js" type="application/javascript"></script>

<title> My angular exemple! </title>
</head>

<body ng-controller="firstController">

<testing-directive></testing-directive>

</body>

</html>
